[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
numpy = "*"
pygame = "*"
pyaudio = "*"
opensimplex = "*"
pyopengl = "*"
pyqtgraph = "*"
pyqt6 = "*"
aubio = "*"

[dev-packages]

[requires]
python_version = "3.11"
